.playlist {
    height: 100%;
    margin: 0.5em;
    text-align: left;
    border: 2px solid black;
}

table {
    font-weight: normal;
}

tr {
    background-color: #0f0f0f;
    border: 1px solid black;
    border-right: 0px;
    margin-right: 0px;
    cursor: pointer;
}

th {
    background-color: #0f0f0f;
    border: 1px solid black;
    border-right: 0px;
    margin-right: 0px;
}

.selected {
    background-color: #672890;
}
