.playlist {
    height: 100%;
    margin: 5px;
    text-align: left;
    border: 2px solid black;
}

.playlist table {
    font-weight: normal;
}

.playlist td {
    border: 1px solid black;
    border-right: 0px;
    margin-right: 0px;
    cursor: pointer;
}

.playlist th {
    background-color: #0f0f0f;
    border: 1px solid black;
    border-right: 0px;
    margin-right: 0px;
}

.selected {
    background-color: #1B1A55;
}
