.playlist {
    height: 100%;
    margin: 0.5em;
    text-align: left;
}

table {
    font-weight: normal;
    border-collapse: separate;
    border-spacing: 0 0.5em;
}

tr {
    height: 2em;
    background-color: #0f0f0f;
    border-right: 0px;
    margin-right: 0px;
    padding-bottom: 20px;
    cursor: pointer;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

th {
    background-color: #0f0f0f;
    border: 1px solid black;
    border-right: 0px;
    margin-right: 0px;
}

.selected {
    background-color: #672890;
}
